{% extends "base.html" %}

{%block content%}

<!DOCTYPE html>
<html>
<body>



<br>
<div class="showcase-bottom2">
<div class="jumbotron">
  <h1>Select parameters of data you wish to delete</h1>

  <br>

  <br>

  <form action ="#" method = "post">
    <select class = "bg-light text-dark selectpicker" name="Races">
      <option value="White">White</option>
      <option value="Black">Black</option>
      <option value="American Indian">American Indian</option>
      <option value="Asian or Pacific Islander">Asian or Pacific Islander</option>
      <option value="Other">Other</option>
      <option value="None" selected>Select a race</option>
    </select>

    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    
    <select class = "bg-light text-dark selectpicker" name="Sexes">
      <option value="M">Male</option>
      <option value="F">Female</option>
      <option value="None" selected>Select a sex</option>
    </select> 

    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;

    <select class = "bg-light text-dark selectpicker" name="Ages">
      <option value="Under 1 month">Under 1 month</option>
      <option value="1-11months">1-11months</option>
      <option value="1">1</option>
      <option value="2">2</option>
      <option value="3">3</option>
      <option value="4">4</option>
      <option value="5-9">5-9</option>
      <option value="10-14">10-14</option>
      <option value="15-19">15-19</option>
      <option value="20-24">20-24</option>
      <option value="25-29">25-29</option>
      <option value="30-34">30-34</option>
      <option value="35-39">35-39</option>
      <option value="40-44">40-44</option>
      <option value="45-49">45-49</option>
      <option value="50-54">50-54</option>
      <option value="55-59">55-59</option>
      <option value="60-64">60-64</option> 
      <option value="65-69">65-69</option> 
      <option value="70-74">70-74</option>     
      <option value="75-79">75-79</option> 
      <option value="80-84">80-84</option> 
      <option value="85-89">85-89</option> 
      <option value="90-94">90-94</option> 
      <option value="95-99">95-99</option> 
      <option value="100+">100+</option> 
      <option value="Age not stated">Age not stated</option> 
      <option value="None" selected>Select an age group</option>
    </select>

    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    
    <select class = "bg-light text-dark selectpicker" name="MoD">
      <option value="Accident">Accident</option>
      <option value="Suicide">Suicide</option>
      <option value="Homicide">Homicide</option>
      <option value="Pending investigation">Pending investigation</option>
      <option value="Could not determine">Could not determine</option>
      <option value="Self-Inflicted">Self-Inflicted</option>
      <option value="Natural">Natural</option>
      <option value="Not specified">Not specified</option>
      <option value="None" selected>Select a Cause</option>
    </select>

    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    
    <select class = "bg-light text-dark selectpicker" name="Month">
      <option value="January">January</option>
      <option value="February">February</option>
      <option value="March">March</option>
      <option value="April">April</option>
      <option value="May">May</option>
      <option value="June">June</option>
      <option value="July">July</option>
      <option value="August">August</option>
      <option value="September">September</option>
      <option value="October">October</option>
      <option value="November">November</option>
      <option value="December">December</option>
      <option value="None" selected>Select a month</option>
    </select>  


    <br><br>
    <input class="btn btn-primary" type="submit" value="Submit">
  </body>
  </html>
</div>
</div>

{% endblock %}